.course-content {
  margin-left: 250px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32CD32; 
  color: white; 
 
}

.header h3 {
  font-size: 40px; 
}
.course-details {
  display: flex;

  flex-direction: column; 
  align-items: flex-start;
}


.rating {
  display: flex; 
  align-items: center;
  margin-left: 10px;
}

.star {
  width: 20px;
  height: 20px;
  background-image: url('star.png'); 
  background-repeat: no-repeat;
  background-size: contain;
}


.follow-button {
  background-color: #1e88e5;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.navigation-bar {
  background-color: #f1f1f1;

}

.nav-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-items li {
  margin-right: 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #000;
}

.content {
 
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 10px;
}